*{
  font-size: 25px;
}
.App {
  text-align: center;
  background-color: blanchedalmond;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player-info{
  background-color: #ffa500;
  color: white;
  margin: auto;
}

.basic-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 70%;
  background-color: orange;
  padding: 10px;
  border-radius: 30px;
  margin-top: 15px;
  margin-left: auto;
}

.basic-info h2{
  margin-left: 20px;
}

.basic-info-box{
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: blanchedalmond;
}

img{
  border: 1px solid black;
  margin: auto;
  width: 25%;
  background-color: white;
}

.player-basic{
  display: flex;
  flex-direction: row;
}

.stat{
  border: 1px solid black;
  width: 200px;
  font-size: 20px;
  display: inline-block;
  margin: 20px;
  margin-top: 30px;
  background-color: white;
}

.statName, .statData{
  font-size: 20px;
}

.searchbar{
  background-color:transparent;
}
.searchBox{
  width: 50%;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  position: relative;
  z-index: 0;
}
.suggestions{
  position: relative;
  cursor: pointer;
  width: 50%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
  padding: 10px;
  margin: auto;
  z-index: 2;
}

.test{
  background-color: transparent;
  position: absolute;
  width: 100%;
  margin: auto;
}

.suggestions:hover{
  background-color: gray;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

  .basic-info-box{
    width: 100%;
  }

  .basic-info{
    margin: auto;
    margin-top: 10px;
  }

  .player-basic{
    display: flex;
    flex-direction: column;
  }
  img{
    margin-top: 20px;
    width: 50%;
  }

  .stat{
    border: 1px solid black;
    width: 100px;
    font-size: 15px;
    display: inline-block;
    margin: 10px;
    margin-top: 30px;
  }
  
  .statName, .statData{
    font-size: 15px;
  }
}

